/*button properties example*/
.button1 {
    background-color: rgb(240, 96, 0);
    border: 2px solid orange;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    padding: 15px 32px;
    margin: 100px;
    display: inline-block;
    box-shadow: 9px 9px 5px 5px lightgray;
    cursor: pointer;
}
.button1:hover {
    background-color: white;
    border: 2px solid orange;
    color: orange;
}
.button1:active {
    background-color: white;
    color: orange;
    box-shadow: 4px 4px 5px 5px darkgray;
    transform: translateY(5px);
} 
/*can also disable buttons, would look something like
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}*/

